<a href="/blog/{{slug}}" class="p-4 py-4 mb-4 rounded-xl lg:max-w-[380px] w-full group hover:bg-gray-100 cursor-pointer animate__animated animate__fadeInUp">
    {% load static %}
    <img src="{% static image %}" alt=""
        class="lg:w-[360px] h-[230px] mb-4 rounded-xl">
    <div class="flex flex-col space-y-2">
        <span class="text-lg text-gray-400 uppercase">{{ date }}</span>
        <p class="text-xl font-semibold group-hover:underline">
            {{ title }}
        </p>
    </div>
</a>